<div class="flex flex-wrap">
    <div class="col-12 flex justify-content-center">
        <h1>TodoEase</h1>
    </div>
    <div class="col-12 flex justify-content-center">
        <p>Ingresa tus datos para iniciar sesion</p>
    </div>
</div>
<form class="py-5" [formGroup]="authForm" (submit)="submitAuthForm()">
    <div class="grid flex flex-wrap">
        <div class="col-12 flex flex-wrap justify-content-center">
            <input type="text" pInputText formControlName="username" id="username" placeholder="usuario*"
                [class]="getFormError('username')?'ng-invalid ng-dirty':''" />
        </div>
        <div class="col-12 flex flex-wrap justify-content-center">
            <input type="password" pInputText formControlName="password" id="password" placeholder="contraseña*"
                [class]="getFormError('password')?'ng-invalid ng-dirty':''" />
        </div>
        <div class="col-12 flex justify-content-center">
            <button type="submit" pButton class="btn btn-primary" [disabled]="authForm.invalid">Iniciar
                Sesion</button>
        </div>
        <div class="col-12 flex justify-content-center">
            <p-messages />
        </div>
    </div>
</form>