.modal-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.modal-body {
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
}

.modal-footer {
  bottom: 0;
  padding: 1rem;
  position: sticky;
  text-align: right;
}
